@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    @*Created BY: Ashok Kallagunta
        Created On: 12 06 2020*@

    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="ProformaLive">
    <meta name="author" content="Medtronic Pvt Ltd." />
    <link rel="icon" href="~/assets/images/favicon.png" type="image/gif" sizes="16x16">

    <script src="~/assets/scripts/angular.min.js"></script>
    <script src="~/assets/scripts/landingpage.js?ID=7200"></script>
    <link href="~/assets/Jexcel/jexcel_44.css?ID=7200" rel="stylesheet" />
    <script src="~/assets/Jexcel/jexcelv44.js?ID=7200"></script>
    <script src="~/assets/Jexcel/jsuites38.js?ID=7200"></script>
    <link href="~/assets/Jexcel/jsuites38.css?ID=7200" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/delete-confirmation.css" rel="stylesheet" />
    <link href="~/assets/css/landingpage.css" rel="stylesheet" />

</head>
<body id="maincard" ng-app="PLLandingPage">

    <div id="browserview" style="background-color:#6c757d; z-index: 99999; display:none;" class="confirmation_modal">
        <div class="confirmation_modal-content confirmation_container">
            <div class="clearfix">
                <p style="font-size: 18px; padding-bottom:10px; font-weight: 500;"> <span> Unsupported Browser.</span> </p>
                <p style="font-size: 12px; font-weight: 500; padding-bottom:10px;"> <span> The ProformaLive web app is currently supported by the Google Chrome,Please use Google Chrome.</span> </p>
                <p style="text-align:center;">
                    <img src="~/assets/images/chromeicon.png" />
                </p>
            </div>
        </div>
    </div>

    <div id="mainwindow" style="background: linear-gradient(to right, #000428, #004e92); display:none; overflow-y: hidden; width: 100%; position: absolute; float: left; height: 100%; ">
        <div class="container-fluid h-100">
            <div class="row justify-content-center align-items-center h-100">
                <form ng-controller="contorllerlanding" style="width:450px">

                    <div id="progressbar" class="confirmation_modal fade-up">
                        <div class="confirmation_modal-content confirmation_container">
                            <div class="clearfix">
                                <p style="font-size: 12px; font-weight: 500;"> <span id="progressBarText"> Page is loading...</span> </p>
                            </div>
                            <div style="height:10px; border-radius:0rem;" class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> </div>
                            </div>
                        </div>
                    </div>
                    <div id="alertbox" style="display:none;" class="confirmation_modal fade-up">
                        <div style="opacity:0.7; background: linear-gradient(to right, #ff4767, #790032); border: 1px solid #afafaf;" class="confirmation_modal-content confirmation_container">
                            <div class="clearfix">
                                <p style="font-size: 12px; margin-bottom:0px; font-weight: 500;"> <span><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Please select project name</span> </p>
                            </div>
                        </div>
                    </div>

                    <div style="display:none;" id="mainlogin" class="form-group">
                        <div class="row">
                            <div style="padding:0px; text-align:center;" class="col-12">
                                <img style="width:300px; opacity:0.2; padding-bottom:40px;" src="~/assets/images/Medtronic_logo.png" />
                            </div>
                        </div>
                        <div id="loginuser" style="color: white; display:none; padding-bottom: 20px;" class="row">
                            <div style="padding:0px; text-align:center;" class="col-12">
                                <span> <i style="font-size:20px;" class="fa fa-user-circle-o"> </i> &nbsp;&nbsp;</span>
                                <span id="loginusername" style="font-weight:500;"> Welcome, User is validating...</span>
                            </div>
                        </div>
                        <div class="row">
                            <div style="padding:0px;" class="col-10"> <div id="dropProjects"> </div> </div>
                            <div style="padding:0px;" class="col-2"> <button style="border-radius: 0px;background: linear-gradient(to right, #11998e, #06b347);" ng-click="gotodashboard();" class="btn btn-success btn-sm btn-block"> Go</button> </div>
                        </div>
                        <div style="text-align:center; padding-top:20px; opacity:0.5" class="row">
                            <div style="padding:0px;" class="col-12">
                                <a href="@Url.Action("Index", "Dashboard")" style="padding-top: 6px; width:120px; padding-bottom:6px; padding-left: 10px; padding-right: 10px; border-radius: 0px;" class="badge badge-secondary">Dashboard</a>&nbsp;&nbsp;
                                <a href="@Url.Action("Index", "Projects")" style="padding-top: 6px; width:120px; padding-bottom:6px; padding-left: 10px; padding-right: 10px; border-radius: 0px;" class="badge badge-secondary">Project Master</a>&nbsp;&nbsp;
                                <a href="#" ng-click="btncreatenewproject()" style="padding-top: 6px; width:150px; padding-bottom:6px; padding-left: 10px; padding-right: 10px; border-radius: 0px;" class="badge badge-secondary">Create New Project</a>
                            </div>
                        </div>
                    </div>

                    <div id="CreateNewProject" style="display: none; z-index: 99999" class="confirmation_modal fade-up">
                        <div style="background: linear-gradient(to right, #606c88, #3f4c6b); border: 1px solid #afafaf;" class="confirmation_modal-content confirmation_container">
                            <div class="clearfix mb-3">
                                <p style="font-size: 14px; margin-bottom:0px; font-weight: 500;"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>Create New Project</span> </p>
                            </div>
                            <div ng-show="createnewprojectalert" class="clearfix  mb-3">
                                <p style="font-size: 12px; color:#ffc0c0; margin-bottom:0px; font-weight: 500;"><i class="fa fa-remove" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{createnewprojectmessage}}</span> </p>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-2">
                                    <input type="text" id="newCreateProject" style="zoom:80%; border-radius: 0px; background-clip:unset;" class="form-control form-control-sm" placeholder="Enter new project number">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <input type="text" id="newCreateProjectName" style="zoom:80%; border-radius: 0px; background-clip:unset;" class="form-control form-control-sm" placeholder="Enter new project name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <button id="createnewprojectbutton" type="button" style="zoom:70%; margin-right:10px;" ng-click="createnewproject()" class="btn btn-success btn-sm float-left"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;&nbsp;Create New Project</button>
                                    <button type="button" style="zoom:70%;" ng-click="closecreatenew();" class="btn btn-danger btn-sm float-left"><i class="fa fa-remove" aria-hidden="true"></i>&nbsp;&nbsp;Close</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <ul style="padding-top:10px; padding-left: 25px;">                                    
                                    <li style="text-align: justify; font-size: small;">
                                        Enter Project Number & Project Name then click on the 'Create New Project' button to create the new project.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/assets/scripts/browser.js"></script>

</body>
</html>
