@*Developer: Ashok Kallagunta
    Technologies used: MVC, Angular JS, Javascript, SQL Server, C#, Jexcel, Jsuite.*@

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="~/assets/Jexcel/jexcel_44.css?ID=92000" rel="stylesheet" />
<script src="~/assets/Jexcel/jexcelv44.js?ID=92000"></script>
<script src="~/assets/jexcel/jsuites38.js?id=92000"></script>
<link href="~/assets/jexcel/jsuites38.css?id=92000" rel="stylesheet" />
<link href="~/assets/css/delete-confirmation.css?ID=92000" rel="stylesheet" />
<script src="~/assets/scripts/resource.js?ID=92000"></script>
<script src="~/assets/scripts/exportexcel/alasql.min.js?ID=92000"></script>
<script src="~/assets/scripts/exportexcel/xlsx.core.min.js?ID=92000"></script>

@*alert box to display errors.*@
<div id="alertbox" class="alert_modal fade-up">
    <div class="alert_modal-content alert_container">
        <div class="clearfix">
            <p><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;<span id="alerttext"></span> </p>
        </div>
    </div>
</div>
<div id="progressbar" style="z-index:999999" class="confirmation_modal fade-up">
    <div class="confirmation_modal-content confirmation_container">
        <div class="clearfix">
            <p style="font-size: 12px; font-weight: 500;"><span id="progressBarText">Page is loading...</span></p>
        </div>
        <div style="height:10px; border-radius:0rem;" class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
    </div>
</div>

<div id="mainbody" style="opacity:0;" ng-controller="MECCController" class="container-fluid">
        
    <div id="notificationpanel" style="display:none; z-index: 9999;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="notificationpanelheader" style="background-color: #e88722; color: white;" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Notification Panel
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" id="closeNotification" title="clear notification" style="padding-top: 5px; cursor: pointer; display:none;" ng-click="closenotification();" aria-hidden="true"></i>
                    <i class="fa fa-times pull-right" id="clearNotification" title="clear notification" style="padding-top: 5px; cursor: pointer; display:none;" ng-click="clearnotificaiton();" aria-hidden="true"></i>
                </span>
            </div>
            <div class="notificationbody" id="notificationBody">
            </div>
        </div>
    </div>

    <div id="resourcecheckbookpanel" style="display:none; width:100%;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="resourcecheckbookpanelheader" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Resource
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('resourcecheckbookpanel');" aria-hidden="true"></i>
                </span>
            </div>
            <div class="view_popup_body" id="resourcecheckbookpanelBody">
                <div style="display:none; width: 99.8% !important;" id="notification_resource_checkbook" class="notification">
                    <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                    <span style="display:none;" id="update_resource_checkbook1" class="badge badge-info">0</span>
                    <span style="display:none;" id="update_resource_checkbook2" class="badge badge-info">update</span>
                    <span class="badge badge-light">action in the table, please save the changes.</span>
                    <span style="cursor: pointer;" ng-click="save_resource_checkbookchanges()" class="badge badge-success">Save Changes</span>
                </div>
                <div id="tbl_resource_checkbook">
                </div>
            </div>
        </div>
    </div>

    <div id="helpcenter" style="display:none; z-index: 999;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="helpcenterheader" style="background-color: #28a745; color: white;" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Help Center
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('helpcenter');" aria-hidden="true"></i>
                </span>
            </div>
            <div style="background-color: #ccffd8;" class="view_popup_body" id="resourcecheckbookpanelheader">
                <h5 class="helptitle"><i class="fa fa-yelp" aria-hidden="true"></i> &nbsp; We're here to help</h5>
                <div>
                    <input type="text" id="capital_description" class="form-control form-control-sm" ng-model="txtSearchProformaLiveHelp" placeholder="Search ProformaLive Help">
                </div>
            </div>
            <div class="view_popup_body" id="resourcecheckbookpanellist">
                <div class="row">
                    <div ng-repeat="item in helplist | filter: txtSearchProformaLiveHelp" class="col-sm-3">
                        <div>
                            <div style="padding: 5px; font-weight: 500; font-size: 12px; padding-left: 20px;" class="card-body">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <a ng-click="shownotification(item.Sysid)" href="#">{{item.Title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="decheckbookpanel" style="display:none; width:100%;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="decheckbookpanelheader" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;DE Info
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('decheckbookpanel');" aria-hidden="true"></i>
                </span>
            </div>
            <div class="view_popup_body" id="decheckbookpanelBody">
                <div style="display:none; width: 99.8% !important;" id="notification_de_checkbook" class="notification">
                    <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                    <span style="display:none;" id="update_de_checkbook1" class="badge badge-info">0</span>
                    <span style="display:none;" id="update_de_checkbook2" class="badge badge-info">update</span>
                    <span class="badge badge-light">action in the table, please save the changes.</span>
                    <span style="cursor: pointer;" ng-click="save_de_checkbookchanges()" class="badge badge-success">Save Changes</span>
                </div>
                <div id="tbl_de_checkbook">
                </div>
            </div>
        </div>
    </div>


    <div id="resourcecheckbooksummarypanel" style="display:none; width: 800px;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewpopup_container">
            <div id="resourcecheckbooksummarypanelheader" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; Resource-Checkbook Summary Chart
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('resourcecheckbooksummarypanel');" aria-hidden="true"></i>
                </span>
            </div>
            <div class="view_popup_body" id="resourcecheckbooksummarypanelBody">
                <div id="chart">
                </div>
            </div>
        </div>
    </div>

    <div id="decheckbookcji3panel" style="display:none; width:80%" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="decheckbookcji3panelheader" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; CJI3 Purchase Orders
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('decheckbookcji3panel');" aria-hidden="true"></i>
                </span>
            </div>
            <div class="view_popup_body" id="de_checkbooksummarypanelBody">
                <table style="width:100%" id="tbldecji3">
                    <thead>
                        <tr>
                            <th ng-show="hidcheckboxde" title="Select All"><input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" /></th>
                            <th>PostingDate</th>
                            <th>Cost Element Name</th>
                            <th>Purchasing Document</th>
                            <th>Purchase Order Text</th>
                            <th>Name Of Offsetting account</th>
                            <th>Quantity</th>
                            <th>Value</th>
                            <th>Open PO</th>
                            <th>User Name</th>
                            <th ng-hide="hidcheckboxde" style="width:80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="decbcji3-{{$index}}" ng-repeat="master in modelDECJI3">
                            <td ng-show="hidcheckboxde" title="Select"><input type="checkbox" ng-checked="master.Selected" ng-model="master.Selected" ng-change="CheckUncheckHeader(modelDECJI3, $index)" /></td>
                            <td style="text-align:center;">{{master.PostingDate}}</td>
                            <td>{{master.CostElementName}}</td>
                            <td>{{master.PurchasingDocument}}</td>
                            <td>{{master.PurchaseOrderText}}</td>
                            <td>{{master.NameOfOffsettingaccount}}</td>
                            <td>{{master.TotalQuantity}}</td>
                            <td>{{master.Val_COAreaCrcy| number}}</td>
                            <td>
                                <a href="#" style="font-size: 10px;" ng-show="master.PurchasingDocument.length <=0 || master.PurchasingDocument == null" class="badge badge-danger">NA</a>
                                <a href="#" style="font-size: 10px;" ng-show="master.PO_Amount == 0 && master.PurchasingDocument.length >=0" class="badge badge-success">Completed</a>
                                <a href="#" style="font-size: 10px;" ng-show="master.PO_Amount > 0" class="badge badge-primary">{{master.PO_Amount| number}}</a>
                            </td>
                            <td>{{master.UserName}}</td>
                            <td ng-hide="hidcheckboxde" style="padding:0px; width:80px; border-radius:0px;"><a href="#" ng-click="removedecheckbookcji3(master)" title="remove po" style="width: 100%; color: #1f1e1e; border-radius: 0px; height: 35px; background-color: #ffcfd7; zoom: 80%;" class="btn btn-sm btn-warning"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Remove</a></td>
                        </tr>
                        <tr style="background-color:#e4e4e4;">
                            <td ng-hide="hidcheckboxde" style="background-color:#e4e4e4;" colspan="5"></td>
                            <td ng-show="hidcheckboxde" style="background-color:#e4e4e4;" colspan="6"></td>
                            <td style="text-align:right; background-color: #c1ecf9;">{{de_cb_total}}</td>
                            <td style="text-align:right; background-color: #c1ecf9;">{{de_cb_value| number}}</td>
                            <td style="text-align:right; background-color: #c1ecf9;">{{select_de_openpo| number}}</td>
                            <td ng-hide="hidcheckboxde" colspan="2"></td>
                            <td ng-show="hidcheckboxde"></td>
                        </tr>
                        <tr ng-show="(selected_de_cb_Total > 0 || selected_de_cb_value != 0) && hidcheckboxde" style="background-color:#c6fde4;">
                            <td ng-hide="hidcheckboxde" style="background-color:#c6fde4; text-align:right;" colspan="5">Selected &nbsp;<i class="fa fa-check-square-o de_selectedcheckbox" aria-hidden="true"></i></td>
                            <td ng-show="hidcheckboxde" style="background-color:#c6fde4; text-align:right;" colspan="6">Selected &nbsp;<i class="fa fa-check-square-o de_selectedcheckbox" aria-hidden="true"></i></td>
                            <td style="text-align:right; background-color: #c6fde4;">{{selected_de_cb_Total}}</td>
                            <td style="text-align:right; background-color: #c6fde4;">{{selected_de_cb_value | number}}</td>
                            <td style="text-align:right; background-color: #c6fde4;">{{select_de_openpo | number}}</td>
                            <td ng-hide="hidcheckboxde" colspan="2" style="padding:0px;">
                                <button type="button" ng-show="show_decji3save" ng-click="insert_de_cji3data();" class="btn btn-success btn-sm de_cji3save float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>
                            </td>
                            <td ng-show="hidcheckboxde" style="padding:0px;">
                                <button type="button" ng-show="show_decji3save" ng-click="insert_de_cji3data();" class="btn btn-success btn-sm de_cji3save float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>
                            </td>
                        </tr>
                    </tbody>
                </table>              
            </div>
        </div>
    </div>

    <div id="cloneproject" style="display: none; z-index: 99999" class="confirmation_modal fade-up">
        <div style="background: linear-gradient(to right, #1a2980, #26d0ce); border: 1px solid #afafaf;" class="confirmation_modal-content confirmation_container">
            <div class="clearfix mb-3">
                <p style="font-size: 14px; margin-bottom:0px; font-weight: 500;"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;&nbsp;<span>Clone Proforma</span> </p>
            </div>
            <div ng-show="clonealert" class="clearfix  mb-3">
                <p style="font-size: 12px; color:#ffc0c0; margin-bottom:0px; font-weight: 500;"><i class="fa fa-remove" aria-hidden="true"></i>&nbsp;&nbsp;<span>{{clonemessage}}</span> </p>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-2">
                    <input type="text" id="newprojectid" ng-model="model_newProjectID" style="zoom:80%; border-radius: 0px; background-clip:unset;" class="form-control form-control-sm" placeholder="Enter new project id">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <input type="text" id="newprojectname" ng-model="model_newProjectName" style="zoom:80%; border-radius: 0px; background-clip:unset;" class="form-control form-control-sm" placeholder="Enter new project name">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <button type="button" style="zoom:70%; margin-right:10px;" ng-click="startsubmitthecloning()" class="btn btn-success btn-sm float-left"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;&nbsp;Start Cloning</button>
                    <button type="button" style="zoom:70%;" ng-click="closecloning();" class="btn btn-danger btn-sm float-left"><i class="fa fa-remove" aria-hidden="true"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display:none;" id="maincard" class="card">
        <div class="form-row card-header">
            <div style="padding-top: 4px;" class="col-md-3">
                <i class="fa fa-th" style="color:#043a7c;" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:14px; font-weight:500;">Proforma</span>
            </div>
            <div ng-class="Drop_ProjectClass">
                <div class="pull-left" id="dropProjects"></div>
            </div>
            <div id="Display_FisYearFilter" style="display:none;" class="col-md-1">
                <div class="pull-left" id="dropResourceCheckboo_FisYear"></div>
            </div>
            <div style="padding-top: 4px;" class="col-md-3">
                @*<button type="button" ng-click="startcloning();" style="zoom:80%; margin-left:10px; background: linear-gradient(to right, #38527f, #3a72d4);" class="btn btn-primary btn-sm float-right"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;&nbsp;Clone Proforma</button>*@
                <button type="button" ng-show="showExporttoexcel" id="exporttoexcel" ng-click="exporttoexcel();" class="btn btn-success btn-sm exporttoexcel float-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Export To Excel</button>
                <input style="zoom: 80%; display:none; margin-left:10px;" ng-click="SaveFile()" type="submit" value="Upload" class=" btn btn-warning btn-sm float-right" />
                <span style="zoom: 80%; display:none; margin-left:10px;" class="fileUpload btn btn-outline-primary btn-sm float-right">
                    <span><i class="fa fa-upload"></i> &nbsp;&nbsp;Upload File &nbsp; {{theFile.name}}</span>
                    <input type="file" name="file" class="upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                </span>
                @*<button id="clearfilters" ng-click="resetfilter();" title="Clear filters"><i class="fa fa-filter" aria-hidden="true"></i></button>*@
            </div>
        </div>
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <lable style="display:none;" id="activetabid"></lable>
                <li ng-click="updatetabeinfo('summary')" class="nav-item">
                    <a ng-class="tabsummaryclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#Summary"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Summary</a>
                </li>
                <li ng-click="updatetabeinfo('resource')" class="nav-item">
                    <a ng-class="tabresourceclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#resource"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Resource</a>
                </li>
                <li ng-click="updatetabeinfo('capital')" class="nav-item">
                    <a ng-class="tabcapitalclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#capital"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Capital</a>
                </li>
                <li ng-click="updatetabeinfo('capitallabor')" class="nav-item">
                    <a ng-class="tabcapitallaborclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#capitallabour"><i class="fa fa-users" style="font-size:12px; padding-bottom:2px;" aria-hidden="true"></i>&nbsp;&nbsp;Capital Labor</a>
                </li>
                <li ng-click="updatetabeinfo('directexpenses')" class="nav-item">
                    <a ng-class="tabdirectexpensesclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#directexpenses"><i class="fa fa-usd" style="font-size:12px;" aria-hidden="true"></i>&nbsp;&nbsp;Direct Expenses</a>
                </li>
                <li ng-click="updatetabeinfo('resourcecheckbook')" class="nav-item">
                    <a ng-class="tabresourcecheckbookclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#checkbook"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Resource-Checkbook</a>
                </li>
                <li ng-click="updatetabeinfo('decheckbook')" class="nav-item">
                    <a ng-class="tabdecheckbookclass" style="color: #05509f; border: 1px solid #00000008; margin-right: 5px; padding-left: 20px !important; padding-right: 20px !important; padding-top: 7px !important; padding-bottom: 7px !important; font-size: 14px;" href="#checkbook"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;DE-Checkbook</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div style="border-left: 1px solid #e9e8e8;  border-right: 1px solid #e9e8e8; border-bottom: 1px solid #e9e8e8;" class="tab-content">
                <div id="summary" style="padding-left:20px; padding-right:20px; opacity:0;">
                    <div id="summarymaindiv">
                        <br />
                        <div class="form-row">
                            <div class="col-md-2 mb-3">
                                <div style="zoom: 90%" id="drop_Summary_Finyear"></div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div style="zoom: 90%" id="drop_Summary_Months"></div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div style="zoom: 90%" id="drop_Summary_Quarter"></div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <button type="submit" ng-click="getsummary();" style="zoom:80%; margin-top: 3px; background: linear-gradient(to right, #11998e, #06b347);" class="btn btn-success btn-sm float-left"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;View Summary</button>
                                <button type="submit" ng-click="clearsummary();" style="zoom:80%; margin-top: 3px; margin-left:10px; margin-right:10px;" class="btn btn-info btn-sm float-left"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Clear</button>
                            </div>
                            <div class="col-md-4 mb-3">
                            </div>
                        </div>

                        @*<span ng-bind-html="showYMItemDetails('Total Project (Operating & Capital)','2020-MAY')"></span>*@
                        <div id="summarycontainer" class="mycontainer">
                            <table id="ST">
                                <thead>
                                    <tr>
                                        <th id="tablecellname" style="width:320px;"><b>Name</b></th>
                                        <th style="width:80px;" ng-repeat="Cols in YMNames">
                                            {{Cols.FinYear_Month}}
                                        </th>
                                        <th style="width:80px;"><b>Total</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="itm in itemName">
                                        <th style="width:400px;">
                                            <span ng-bind-html="updateitemname(itm.Name)"></span>
                                        </th>
                                        <td style="width:100px;" ng-repeat="YMNew in YMNames">
                                            <span ng-bind-html="showYMItemDetails(itm.Name,YMNew.FinYear_Month)"></span>
                                        </td>
                                        <td style="width:100px;">
                                            <span ng-bind-html="showYMColumnGrandTotal(itm.Name,YMNew.FinYear_Month)"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
                <div id="resource" style="padding-left:20px; padding-right:20px; padding-bottom:10px; opacity:0;">
                    <div id="resourceform" class="resourceformclass" ng-show="display_resourceform">
                        <br />
                        <div class="form-row">
                            <div class="col-md-3 mb-2">
                                <div id="dropOperatingExpenseWBS"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div id="dropBusiness"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div disabled="disabled" id="dropBU"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div disabled="disabled" id="dropHighOrg"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-2">
                                <div disabled="disabled" id="dropMidOrg"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div disabled="disabled" id="dropTeam"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div disabled="disabled" id="dropRequiredSkills"></div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <input type="text" id="resourcecomments" class="form-control form-control-sm" placeholder="Enter Comments">
                            </div>
                        </div>
                        <div class="form-row">
                            &nbsp;<button type="button" style="zoom:80%" ng-click="addresourceinfo();" class="btn btn-success btn-sm float-left"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Resource Info</button> &nbsp; <button type="button" style="zoom:80%" ng-click="Resourceclear();" class="btn btn-info btn-sm float-left"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button> &nbsp; &nbsp;
                        </div>
                    </div>
                    <br />
                    <p style="font-size: 13px; font-weight: 500;">
                        <span style="padding-top:4px;"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Resource List</span>
                        <button type="button" style="zoom:80%; margin-left:10px;" class="btn btn-dark btn-sm float-right disabled">&nbsp;&nbsp;<i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp; For full screen, click on <b>Escape</b> key</button>
                        <button id="resource_Lastmodifiedby" type="button" style="display:none;zoom:80%; margin-left:10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{resource_lastmodifiedby}}</span>&nbsp;</button>
                        <button id="resource_Lastmodifieddate" type="button" style="display: none;zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{resource_lastmodifieddate}}</span>&nbsp;</button>
                        <label title="Hide Form" class="switch">
                            <input type="checkbox" ng-model="displaycheckbox_resource" ng-change="validatecheckbox();" checked>
                            <span class="slider round"></span>
                        </label>
                        <button id="resource_clearfilters" title="clear filters" ng-click="resetfilter();" type="button" class="btn btn-primary btn-sm clearfilter float-right">&nbsp;<img style="width:18px;" src="~/assets/images/iconclearwhite.png" />&nbsp;</button>
                        <button type="button" style="zoom:80%; margin-left:10px; margin-right: 10px; color:white; background: linear-gradient(to right, #fe8c00, #f83600);" class="btn btn-warning btn-sm float-right disabled">&nbsp;<i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;" id="resourcetotal">0</span>&nbsp;</button>
                    </p>
                    <div style="display:none;" id="notification" class="notification">
                        <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                        <span style="display:none;" id="update_notificationnumber1" class="badge badge-info">0</span>
                        <span style="display:none;" id="update_notificationnumber2" class="badge badge-info">update</span>
                        <span style="display:none;" id="delete_notificationnumber1" class="badge badge-danger">0</span>
                        <span style="display:none;" id="delete_notificationnumber2" class="badge badge-danger">delete</span>
                        <span class="badge badge-light">action in the table, please save the changes.</span>
                        <span style="cursor: pointer;" ng-click="save_resource_changes()" class="badge badge-success">Save Changes</span>
                        <span style="cursor: pointer;" ng-click="discard_resource_changes()" class="badge badge-danger">Discard Changes</span>
                    </div>
                    <div id="tbl_resource">
                    </div>
                </div>
                <div id="capital" style="padding-left:20px; padding-bottom:10px; padding-right:20px; opacity:0;">
                    <div id="capitalform" class="capitalformclass" ng-show="display_capitalform">
                        <br />
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div autocomplete="off" id="dropCapitalExpenditureWBSCapital"></div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div id="drop_Capital_Priority"></div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" id="capital_impactofnotinvesting" class="form-control form-control-sm" placeholder="Enter Impact of not investing">
                            </div>
                            <div class="col-md-2 mb-3">
                                <div id="drop_Capital_Category"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div id="drop_Capital_Type_2"></div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div id="drop_Capital_AOPProject"></div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <input type="text" id="capital_description" class="form-control form-control-sm" placeholder="Enter Description">
                            </div>
                        </div>
                        <div class="form-row">
                            &nbsp;<button type="button" style="zoom:80%" ng-click="addcapitalinfo();" class="btn btn-success btn-sm float-left"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Capital Info</button> &nbsp; <button type="button" style="zoom:80%" ng-click="capitalclear();" class="btn btn-info btn-sm float-left"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button> &nbsp; &nbsp;
                        </div>
                    </div>

                    <br />
                    <p style="font-size: 13px; font-weight: 500;">
                        &nbsp;<i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Capital List
                        <button type="button" style="zoom:80%; margin-left:10px;" class="btn btn-dark btn-sm float-right disabled">&nbsp;&nbsp;<i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp; For full screen, click on <b>Escape</b> key</button>
                        <button id="capital_Lastmodifiedby" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{capital_lastmodifiedby}}</span>&nbsp;</button>
                        <button id="capital_Lastmodifieddate" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{capital_lastmodifieddate}}</span>&nbsp;</button>
                        <label title="Hide Form" class="switch">
                            <input type="checkbox" ng-model="displaycheckbox_capital" ng-change="validatecheckbox();" checked>
                            <span class="slider round"></span>
                        </label>
                        <button id="capital_clearfilters" title="clear filters" ng-click="resetfilter();" type="button" class="btn btn-primary btn-sm clearfilter float-right">&nbsp;<img style="width:18px;" src="~/assets/images/iconclearwhite.png" />&nbsp;</button>
                        <button type="button" style="zoom:80%; margin-left:10px; margin-right: 10px; color:white; background: linear-gradient(to right, #fe8c00, #f83600);" class="btn btn-warning btn-sm float-right disabled">&nbsp;<i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;" id="capitaltotal">0</span>&nbsp;</button>
                    </p>
                    <div style="display:none;" id="capital_notification" class="notification">
                        <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                        <span style="display:none;" id="capital_update_notificationnumber1" class="badge badge-info">0</span>
                        <span style="display:none;" id="capital_update_notificationnumber2" class="badge badge-info">update</span>
                        <span style="display:none;" id="capital_delete_notificationnumber1" class="badge badge-danger">0</span>
                        <span style="display:none;" id="capital_delete_notificationnumber2" class="badge badge-danger">delete</span>
                        <span class="badge badge-light">action in the table, please save the changes.</span>
                        <span style="cursor: pointer;" ng-click="save_capital_changes()" class="badge badge-success">Save Changes</span>
                        <span style="cursor: pointer;" ng-click="discard_capital_changes()" class="badge badge-danger">Discard Changes</span>
                    </div>
                    <div id="tbl_capital">
                    </div>
                </div>
                <div id="capitallabor" style="padding-left:20px; padding-bottom:10px; padding-right:20px; opacity:0;">
                    <div id="capitallaborform" class="capitallaborformclass" ng-show="display_capitallaborform">
                        <br />
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div autocomplete="off" id="dropCapitalExpenditureWBS"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div id="drop_capital_labour_Priority"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div id="drop_Capital_Labor_Category"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div id="dropBusiness_CL"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div disabled="disabled" id="dropBU_CL"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div disabled="disabled" id="dropHighOrg_CL"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div disabled="disabled" id="dropMidOrg_CL"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div disabled="disabled" id="dropTeam_CL"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div disabled="disabled" id="dropRequiredSkills_CL"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div id="drop_Capital_AOPProject_CapitalLabor"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" id="capitallabor_comments" class="form-control form-control-sm" placeholder="Enter Comments">
                            </div>
                        </div>
                        <div class="form-row">
                            &nbsp;<button type="button" style="zoom:80%" ng-click="addcapitallaborinfo();" class="btn btn-success btn-sm float-left"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Capital Labor Info</button> &nbsp; <button type="button" style="zoom:80%" ng-click="clearcapitallabor();" class="btn btn-info btn-sm float-left"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button> &nbsp; &nbsp;
                        </div>
                    </div>
                    <br />
                    <p style="font-size: 13px; font-weight: 500;">
                        &nbsp;<i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Capital Labor List
                        <button type="button" style="zoom:80%; margin-left:10px;" class="btn btn-dark btn-sm float-right disabled">&nbsp;&nbsp;<i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp; For full screen, click on <b>Escape</b> key</button>
                        <button id="capitallabor_Lastmodifiedby" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{capitallabor_lastmodifiedby}}</span>&nbsp;</button>
                        <button id="capitallabor_Lastmodifieddate" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{capitallabor_lastmodifieddate}}</span>&nbsp;</button>
                        <label title="Hide Form" class="switch">
                            <input type="checkbox" ng-model="displaycheckbox_capitallabor" ng-change="validatecheckbox();" checked>
                            <span class="slider round"></span>
                        </label>
                        <button id="capitallabor_clearfilters" title="clear filters" ng-click="resetfilter();" type="button" class="btn btn-primary btn-sm clearfilter float-right">&nbsp;<img style="width:18px;" src="~/assets/images/iconclearwhite.png" />&nbsp;</button>
                        <button type="button" style="zoom:80%; margin-left:10px; margin-right: 10px; color:white; background: linear-gradient(to right, #fe8c00, #f83600);" class="btn btn-warning btn-sm float-right disabled">&nbsp;<i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;" id="capitallabortotal">0</span>&nbsp;</button>
                    </p>
                    <div style="display:none;" id="capitallabor_notification" class="notification">
                        <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                        <span style="display:none;" id="capitallabor_update_notificationnumber1" class="badge badge-info">0</span>
                        <span style="display:none;" id="capitallabor_update_notificationnumber2" class="badge badge-info">update</span>
                        <span style="display:none;" id="capitallabor_delete_notificationnumber1" class="badge badge-danger">0</span>
                        <span style="display:none;" id="capitallabor_delete_notificationnumber2" class="badge badge-danger">delete</span>
                        <span class="badge badge-light">action in the table, please save the changes.</span>
                        <span style="cursor: pointer;" ng-click="save_capitallabor_changes()" class="badge badge-success">Save Changes</span>
                        <span style="cursor: pointer;" ng-click="discard_capitallabor_changes()" class="badge badge-danger">Discard Changes</span>
                    </div>
                    <div id="tbl_capitallabour">
                    </div>

                </div>
                <div id="directexpenses" style="padding-left:20px; padding-right:20px; padding-bottom:10px; opacity:0;">
                    <div id="deform" class="deformclass" ng-show="display_deform">
                        <br />
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div autocomplete="off" id="dropOperatingExpenseWBSDE"></div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div id="drop_DE_ExpenseCategory"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" id="de_description" class="form-control form-control-sm" placeholder="Enter Description">
                            </div>
                        </div>
                        <div class="form-row">
                            &nbsp;<button type="button" style="zoom:80%" ng-click="adddirectexpenseinfo();" class="btn btn-success btn-sm float-left"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add Direct Expenses Info</button> &nbsp; <button type="button" ng-click="cleardirectexpenseinfo();" style="zoom:80%" class="btn btn-info btn-sm float-left"><i class="fa fa-recycle" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button> &nbsp; &nbsp;
                        </div>
                    </div>
                    <br />
                    <p style="font-size: 13px; font-weight: 500;">
                        &nbsp;<i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Direct Expenses List
                        <button type="button" style="zoom:80%; margin-left:10px;" class="btn btn-dark btn-sm float-right disabled">&nbsp;&nbsp;<i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp; For full screen, click on <b>Escape</b> key</button>
                        <button id="de_Lastmodifiedby" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{de_lastmodifiedby}}</span>&nbsp;</button>
                        <button id="de_Lastmodifieddate" type="button" style="display: none; zoom: 80%; margin-left: 10px; background: #0055b1;" class="btn btn-primary btn-sm float-right disabled">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;">{{de_lastmodifieddate}}</span>&nbsp;</button>
                        <label title="Hide Form" class="switch">
                            <input type="checkbox" ng-model="displaycheckbox_de" ng-change="validatecheckbox();" checked>
                            <span class="slider round"></span>
                        </label>
                        <button id="de_clearfilters" title="clear filters" ng-click="resetfilter();" type="button" class="btn btn-primary btn-sm clearfilter float-right">&nbsp;<img style="width:18px;" src="~/assets/images/iconclearwhite.png" />&nbsp;</button>
                        <button type="button" style="zoom:80%; margin-left:10px; margin-right: 10px; color:white; background: linear-gradient(to right, #fe8c00, #f83600);" class="btn btn-warning btn-sm float-right disabled">&nbsp;<i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-weight:500;" id="detotal">0</span>&nbsp;</button>
                    </p>
                    <div style="display:none;" id="de_notification" class="notification">
                        <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                        <span style="display:none;" id="de_update_notificationnumber1" class="badge badge-info">0</span>
                        <span style="display:none;" id="de_update_notificationnumber2" class="badge badge-info">update</span>
                        <span style="display:none;" id="de_delete_notificationnumber1" class="badge badge-danger">0</span>
                        <span style="display:none;" id="de_delete_notificationnumber2" class="badge badge-danger">delete</span>
                        <span class="badge badge-light">action in the table, please save the changes.</span>
                        <span style="cursor: pointer;" ng-click="save_de_changes()" class="badge badge-success">Save Changes</span>
                        <span style="cursor: pointer;" ng-click="discard_de_changes()" class="badge badge-danger">Discard Changes</span>
                    </div>
                    <div id="tbl_directexpenses">
                    </div>

                </div>
                <div id="resourcecheckbook" style="padding-left:20px; padding-right:20px;">
                    <br />
                    <div style="overflow: scroll;" id="resourcecheckbookcontainer">
                        <table id="tblresourcecheckbook">
                            <thead>
                                <tr>
                                    <th id="blankrow" style="background-color: white; position: initial; border: 0px !important;" colspan="5">
                                    </th>
                                    <th colspan="2" style="text-align:left;">
                                        &nbsp;
                                        <i style="color:#fbff09" ng-click="clickexpandedsummary(expandedsummary)"
                                           ng-class="expandedsummary ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'"
                                           class="fa fa-plus-square" aria-hidden="true">
                                        </i>&nbsp;&nbsp;Checkbook-Summary
                                    </th>
                                    <th colspan="3">Q1</th>
                                    <th colspan="3">Q2</th>
                                    <th colspan="3">Q3</th>
                                    <th colspan="3">Q4</th>
                                </tr>
                                <tr ng-show="expandedsummary">
                                    <th colspan="2" style="text-align:left;">Name <i title="view summary chart" style="color:#53f972; padding-top: 3px; font-weight: 500; padding-right: 5px;" class="fa fa-area-chart pull-right" ng-click="showResourceCheckbookSummaryChart()" aria-hidden="true"></i></th>
                                    <th>MAY</th>
                                    <th>JUN</th>
                                    <th>JUL</th>
                                    <th>AUG</th>
                                    <th>SEP</th>
                                    <th>OCT</th>
                                    <th>NOV</th>
                                    <th>DEC</th>
                                    <th>JAN</th>
                                    <th>FEB</th>
                                    <th>MAR</th>
                                    <th>APR</th>
                                </tr>
                                <tr ng-show="expandedsummary" ng-repeat="summary in modelRresourceCheckBookSummary">
                                    <td style="padding:0px; border: 0px;" colspan="14">
                                        <table>
                                            <tr>
                                                <td colspan="2" ng-show="summary.Name == 'Over/Under Spent'" style="width:229px; background-color: #e5f1ff; text-align: left; font-weight: 500;">
                                                    <i class="fa fa-square" style="color:rgb(255, 69, 89);" aria-hidden="true"></i>&nbsp;Over Spent &nbsp; <i class="fa fa-square" style="color:rgb(226, 192, 24);" aria-hidden="true"></i>&nbsp;Under Spent</td>
                                                <td colspan="2" ng-show="summary.Name != 'Over/Under Spent'" style="width:229px; background-color: #e5f1ff; text-align: left; font-weight: 500;">
                                                    <i ng-show="summary.Name=='AOP Forecast' || summary.Name=='6Q Forecast' || summary.Name=='5Q Forecast'" style="color:#404344; padding-right:4px; margin-top: 2px;" title="Expand All" ng-click="allES = !allES" ng-class="allES ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i>
                                                    {{summary.Name}}
                                                </td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.MAY)">{{summary.MAY}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.JUN)">{{summary.JUN}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.JUL)">{{summary.JUL}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.AUG)">{{summary.AUG}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.SEP)">{{summary.SEP}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.OCT)">{{summary.OCT}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.NOV)">{{summary.NOV}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.DEC)">{{summary.DEC}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.JAN)">{{summary.JAN}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.FEB)">{{summary.FEB}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.MAR)">{{summary.MAR}}</td>
                                                <td ng-show="summary.Name == 'Over/Under Spent'" ng-style="setsummarycolor(summary.APR)">{{summary.APR}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.MAY}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.JUN}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.JUL}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.AUG}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.SEP}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.OCT}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.NOV}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.DEC}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.JAN}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.FEB}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.MAR}}</td>
                                                <td ng-show="summary.Name != 'Over/Under Spent'" ng-style="celldefalutstyle()">{{summary.APR}}</td>
                                            </tr>
                                            <tr ng-show="allES" style="background-color:rgb(229, 246, 255);" ng-repeat="summarydata in summary.ResourceCheckBookSummaryResult">
                                                <td colspan="2" style="width:229px; padding-left: 30px; background-color: #8bb3e2; text-align: left; font-weight: 500;">{{summarydata.Name}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.MAY}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.JUN}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.JUL}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.AUG}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.SEP}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.OCT}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.NOV}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.DEC}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.JAN}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.FEB}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.MAR}}</td>
                                                <td ng-style="celldefalutstyle()">{{summarydata.APR}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 30px;"><i style="color:#c1ffc3;" title="Expand All" ng-click="expandAll(allExpanded = !allExpanded)" expand ng-class="allExpanded ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i></th>
                                    <th style="width:120px;">WBSNumber</th>
                                    <th style="width:43px;">BU</th>
                                    <th style="width:150px;">HighOrg</th>
                                    <th id="checkbook_MidOrg">MidOrg</th>
                                    <th style="width:170px;">Team</th>                                   
                                    <th style="width:59px;">FinYear</th>
                                    <th style="width:53px;">MAY</th>
                                    <th style="width:53px;">JUN</th>
                                    <th style="width:53px;">JUL</th>
                                    <th style="width:53px;">AUG</th>
                                    <th style="width:53px;">SEP</th>
                                    <th style="width:53px;">OCT</th>
                                    <th style="width:53px;">NOV</th>
                                    <th style="width:53px;">DEC</th>
                                    <th style="width:53px;">JAN</th>
                                    <th style="width:53px;">FEB</th>
                                    <th style="width:53px;">MAR</th>
                                    <th style="width:53px;">APR</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="master in modelRresourceCheckBook">
                                <tr>
                                    <td>
                                        <i title="Expand" ng-click="expanded = !expanded" expand ng-class="expanded ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i>
                                    </td>
                                    <td>{{master.WBSNumber}}</td>
                                    <td>{{master.BusinessUnit}}</td>
                                    <td title={{master.HighOrg}}>{{master.HighOrg | dotsFilter:20}}</td>
                                    <td title={{master.MidOrg}}>{{master.MidOrg}}</td>
                                    <td title={{master.Team}}>{{master.Team | dotsFilter:20}}</td>                                    
                                    <td>{{master.FinYear}}</td>
                                    <td ng-style="setcolor(master.MAY)">{{master.MAY}}</td>
                                    <td ng-style="setcolor(master.JUN)">{{master.JUN}}</td>
                                    <td ng-style="setcolor(master.JUL)">{{master.JUL}}</td>
                                    <td ng-style="setcolor(master.AUG)">{{master.AUG}}</td>
                                    <td ng-style="setcolor(master.SEP)">{{master.SEP}}</td>
                                    <td ng-style="setcolor(master.OCT)">{{master.OCT}}</td>
                                    <td ng-style="setcolor(master.NOV)">{{master.NOV}}</td>
                                    <td ng-style="setcolor(master.DEC)">{{master.DEC}}</td>
                                    <td ng-style="setcolor(master.JAN)">{{master.JAN}}</td>
                                    <td ng-style="setcolor(master.FEB)">{{master.FEB}}</td>
                                    <td ng-style="setcolor(master.MAR)">{{master.MAR}}</td>
                                    <td ng-style="setcolor(master.APR)">{{master.APR}}</td>
                                </tr>
                                <tr ng-show="expanded" ng-repeat="checkbook in master.ResourceCheckBook">
                                    <td id="subResourcetable" colspan="20">
                                        <table>
                                            <tbody>
                                                <tr ng-style="setAFColor(checkbook.Type)">
                                                    <td style="width:30px; background-color: white !important; border: 0px !important;">
                                                        &nbsp;&nbsp;
                                                    </td>
                                                    <td style="width:25px; text-align:center;">
                                                        <i ng-show="checkbook.Type == 'A' && checkbook.ResourceCheckBookData.length == 0" class="fa fa-plus-square disableresourcecheckbookfontplus" aria-hidden="true"></i>
                                                        <i ng-show="checkbook.Type == 'A' && checkbook.ResourceCheckBookData.length > 0" ng-click="expandedCJI = !expandedCJI" ng-class="expandedCJI ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i>
                                                        <i ng-show="checkbook.Type == 'F'" ng-click="viewresourceinfo(checkbook.ProjectID,checkbook.WBSNumber,checkbook.BusinessUnit, master.HighOrg, master.MidOrg,checkbook.Team, checkbook.FinYear)" class="fa fa-pencil-square resourcecheckbookfontedit" aria-hidden="true"></i>
                                                    </td>
                                                    <td style="width:95px;">{{checkbook.WBSNumber}}</td>
                                                    <td style="width:43px;">{{checkbook.BusinessUnit}}</td>
                                                    <td style="width:150px;" title={{master.HighOrg}}>{{checkbook.HighOrg | dotsFilter:20}}</td>
                                                    <td ng-style="{ 'width' : subresourcewidth }" title={{master.MidOrg}}>{{checkbook.MidOrg}}</td>
                                                    <td style="width:170px;" title={{master.Team}}>{{checkbook.Team | dotsFilter:20}}</td>                                                    
                                                    <td style="width:59px;">{{checkbook.FinYear}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.MAY}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.JUN}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.JUL}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.AUG}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.SEP}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.OCT}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.NOV}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.DEC}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.JAN}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.FEB}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.MAR}}</td>
                                                    <td style="width:53px; text-align:right;">{{checkbook.APR}}</td>
                                                </tr>
                                                <tr ng-show="expandedCJI" ng-repeat="CJI3Data in checkbook.ResourceCheckBookData">
                                                    <td style="width:30px; background-color: white !important; border: 0px !important;">
                                                    </td>
                                                    <td style="width:25px; background-color: white !important; border: 0px !important;">
                                                    </td>
                                                    <td>{{CJI3Data.CJI3_WBSNumber}}</td>
                                                    <td colspan="4" id="O_CJI3_ResourceName">{{CJI3Data.CJI3_ResourceName}}</td>
                                                    <td style="width:59px;">{{CJI3Data.CJI3_FinYear}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.MAY}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.JUN}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.JUL}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.AUG}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.SEP}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.OCT}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.NOV}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.DEC}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.JAN}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.FEB}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.MAR}}</td>
                                                    <td style="width:53px; text-align:right;">{{CJI3Data.APR}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
                <div id="decheckbook" style="padding-left:20px; padding-right:20px;">
                    <br />
                    <div style="overflow: scroll;" id="decheckbookcontainer">
                        <table ng-style="{ 'width' : decheckbookwidth , 'zoom': decheckbookzoom }" id="tbldecheckbook">
                            <thead>
                                <tr ng-repeat="rc in modelDECJI3reconciliation">
                                    <th colspan="7">Total Reconciliation - Remaining</th>
                                    <th>{{rc.MAY}}</th>
                                    <th>{{rc.JUN}}</th>
                                    <th>{{rc.JUL}}</th>
                                    <th>{{rc.AUG}}</th>
                                    <th>{{rc.SEP}}</th>
                                    <th>{{rc.OCT}}</th>
                                    <th>{{rc.NOV}}</th>
                                    <th>{{rc.DEC}}</th>
                                    <th>{{rc.JAN}}</th>
                                    <th>{{rc.FEB}}</th>
                                    <th>{{rc.MAR}}</th>
                                    <th>{{rc.APR}}</th>
                                </tr>
                                <tr>
                                    <th width="30px"></th>
                                    <th width="30px"></th>
                                    <th width="100px">WBSNumber</th>
                                    <th ng-style="{ 'width' : de_dynamic_checkbook_width }">ExpenseCategory</th>
                                    <th ng-style="{ 'width' : de_dynamic_checkbook_width }">Description</th>
                                    <th ng-style="{ 'width' : de_dynamic_checkbook_width }">PO Number</th>
                                    <th width="70px">FisYear</th>
                                    <th width="68px">MAY</th>
                                    <th width="68px">JUN</th>
                                    <th width="68px">JUL</th>
                                    <th width="68px">AUG</th>
                                    <th width="68px">SEP</th>
                                    <th width="68px">OCT</th>
                                    <th width="68px">NOV</th>
                                    <th width="68px">DEC</th>
                                    <th width="68px">JAN</th>
                                    <th width="68px">FEB</th>
                                    <th width="68px">MAR</th>
                                    <th width="68px">APR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="master in modelDECheckBook">
                                    <td style="padding: 0px; border: 0px;" colspan="19">
                                        <table ng-style="{ 'width' : decheckbookwidth }" id="tbldecheckbooksub">
                                            <tr>
                                                <td style="text-align:center; background-color: #f3f9ff;" width="30px">
                                                    <i title="P" ng-show="master.decheckbooksubmenu.length <= 1" class="fa fa-plus-square deplusdisabled" aria-hidden="true"></i>
                                                    <i title="Expand" id="decb-{{$index}}" ng-show="master.decheckbooksubmenu.length > 1" ng-click="expandeddecji3 = !expandeddecji3;expandde(expandeddecji3,$index, master.decheckbooksubmenu)" expand ng-class="expandeddecji3 ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i>
                                                </td>
                                                <td style="text-align:center; background-color: #e4fded;" width="30px">
                                                    <i ng-click="viewdeinfo(master.WBSNumber,master.FisYear,master.ExpenseCategory,master.Description,master.decheckbooksubmenu[0])" class="fa fa-pencil-square resourcecheckbookfontedit" aria-hidden="true"></i>
                                                </td>
                                                <td width="100px">{{master.WBSNumber}}</td>
                                                <td class="tooltip_custom" ng-style="{ 'width' : de_dynamic_checkbook_width }">{{master.ExpenseCategory| dotsFilter: defiltercount}} <span class="tooltiptext_custom">{{master.ExpenseCategory}}</span></td>
                                                <td class="tooltip_custom" ng-style="{ 'width' : de_dynamic_checkbook_width }">{{master.Description | dotsFilter: defiltercount}} <span class="tooltiptext_custom">{{master.Description}}</span></td>
                                                <td class="tooltip_custom" ng-style="{ 'width' : de_dynamic_checkbook_width }">{{master.PONumber | dotsFilter: defiltercount}} <span ng-bind-html="edittooltip(master.PONumber)" class="{{ master.PONumber.length > 0 ? 'tooltiptext_custom' : 'tooltiphide' }}"></span></td>
                                                <td width="70px">{{master.FisYear}}</td>
                                                <td id="cbtd1-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.MAY, master.decheckbooksubmenu[0].MAY, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'MAY',master.ExpenseCategory, master.Description, false,'save','cbtd1', $index)"><a>{{master.MAY}}</a></td>
                                                <td id="cbtd2-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.JUN, master.decheckbooksubmenu[0].JUN, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'JUN',master.ExpenseCategory, master.Description, false,'save','cbtd2', $index)"><a>{{master.JUN}}</a></td>
                                                <td id="cbtd3-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.JUL, master.decheckbooksubmenu[0].JUL, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'JUL',master.ExpenseCategory, master.Description, false,'save','cbtd3', $index)"><a>{{master.JUL}}</a></td>
                                                <td id="cbtd4-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.AUG, master.decheckbooksubmenu[0].AUG, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'AUG',master.ExpenseCategory, master.Description, false,'save','cbtd4', $index)"><a>{{master.AUG}}</a></td>
                                                <td id="cbtd5-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.SEP, master.decheckbooksubmenu[0].SEP, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'SEP',master.ExpenseCategory, master.Description, false,'save','cbtd5', $index)"><a>{{master.SEP}}</a></td>
                                                <td id="cbtd6-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.OCT, master.decheckbooksubmenu[0].OCT, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'OCT',master.ExpenseCategory, master.Description, false,'save','cbtd6', $index)"><a>{{master.OCT}}</a></td>
                                                <td id="cbtd7-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.NOV, master.decheckbooksubmenu[0].NOV, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'NOV',master.ExpenseCategory, master.Description, false,'save','cbtd7', $index)"><a>{{master.NOV}}</a></td>
                                                <td id="cbtd8-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.DEC, master.decheckbooksubmenu[0].DEC, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'DEC',master.ExpenseCategory, master.Description, false,'save','cbtd8', $index)"><a>{{master.DEC}}</a></td>
                                                <td id="cbtd9-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.JAN, master.decheckbooksubmenu[0].JAN, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'JAN',master.ExpenseCategory, master.Description, false,'save','cbtd9', $index)"><a>{{master.JAN}}</a></td>
                                                <td id="cbtd10-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.FEB, master.decheckbooksubmenu[0].FEB, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'FEB',master.ExpenseCategory, master.Description, false,'save','cbtd10', $index)"><a>{{master.FEB}}</a></td>
                                                <td id="cbtd11-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.MAR, master.decheckbooksubmenu[0].MAR, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'MAR',master.ExpenseCategory, master.Description, false,'save','cbtd11', $index)"><a>{{master.MAR}}</a></td>
                                                <td id="cbtd12-{{$index}}" width="68px" ng-style="setDECheckbookcolor(master.APR, master.decheckbooksubmenu[0].APR, master.decheckbooksubmenu[0].ID)" ng-click="show_de_cji3data(master.PONumber, master.WBSNumber, master.FisYear, 'APR',master.ExpenseCategory, master.Description, false,'save','cbtd12', $index)"><a>{{master.APR}}</a></td>
                                            </tr>
                                            <tr ng-repeat="submaster in master.decheckbooksubmenu" ng-show="expandeddecji3 && master.decheckbooksubmenu.length == 2">
                                                <td rowspan="2" colspan="2" ng-show="submaster.ID == 'A'" style="text-align:center;" width="30px">
                                                </td>
                                                <td ng-style="setDeSubmenuColor(submaster.ID,'center',0)" ng-show="submaster.ID == 'A'" colspan="4">Actual Spend - CJI3</td>
                                                <td ng-style="setDeSubmenuColor(submaster.ID,'center',0)" ng-show="submaster.ID == 'B'" colspan="4">Reconciliation - Remaining</td>
                                                <td ng-style="setDeSubmenuColor(submaster.ID,'left',0)">{{submaster.FiscalYear}}</td>

                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'MAY',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.MAY)"><a>{{submaster.MAY}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'JUN',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JUN)"><a>{{submaster.JUN}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'JUL',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JUL)"><a>{{submaster.JUL}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'AUG',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.AUG)"><a>{{submaster.AUG}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'SEP',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.SEP)"><a>{{submaster.SEP}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'OCT',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.OCT)"><a>{{submaster.OCT}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'NOV',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.NOV)"><a>{{submaster.NOV}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'DEC',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.DEC)"><a>{{submaster.DEC}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'JAN',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JAN)"><a>{{submaster.JAN}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'FEB',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.FEB)"><a>{{submaster.FEB}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'MAR',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.MAR)"><a>{{submaster.MAR}}</a></td>
                                                <td onMouseOver="this.style.background='rgb(232 251 130)'" onMouseOut="this.style.background='rgb(224, 239, 143)'" ng-show="submaster.ID == 'A'" ng-click="show_de_cji3data('', submaster.WBSNumber, submaster.FiscalYear, 'APR',submaster.DE_ExpenseCategory, submaster.Description, true,'update')" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.APR)"><a>{{submaster.APR}}</a></td>

                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.MAY)"><a>{{submaster.MAY}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JUN)"><a>{{submaster.JUN}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JUL)"><a>{{submaster.JUL}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.AUG)"><a>{{submaster.AUG}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.SEP)"><a>{{submaster.SEP}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.OCT)"><a>{{submaster.OCT}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.NOV)"><a>{{submaster.NOV}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.DEC)"><a>{{submaster.DEC}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.JAN)"><a>{{submaster.JAN}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.FEB)"><a>{{submaster.FEB}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.MAR)"><a>{{submaster.MAR}}</a></td>
                                                <td ng-show="submaster.ID == 'B'" ng-style="setDeSubmenuColor(submaster.ID,'right',submaster.APR)"><a>{{submaster.APR}}</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function calculatesum() {
        angular.element(document.getElementById('mainbody')).scope().updatetotalsum();
    }
    function shownotification(value) {
        angular.element(document.getElementById('mainbody')).scope().shownotification(value);
    }

</script>
