
<style type="text/css">
    .table tbody tr td {
        padding: 0.5rem;
        vertical-align:middle;
    }


    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

</style>

<div class="container-fluid">
    <div class="card">
        <div style="font-weight: bold;" class="card-header">Perfoma</div>
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Resource</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Capital</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Capital Labor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Direct Expenses</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div style="border-left: 1px solid #e9e8e8; border-right: 1px solid #e9e8e8; border-bottom: 1px solid #e9e8e8;" class="tab-content">
                <div id="home" style="padding-right: 0px !important; padding-left: 0px !important;" class="container tab-pane active">
                    <br />
                    <p style="font-size:15px; font-weight:bold;">Add Resource Info</p>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                <option>--Select Project--</option>
                                <option>
                                    CR04407 - Diabetes NDT Support
                                </option>
                                <option>
                                    CR50242 - Micra Atrial
                                </option>
                                <option>
                                    CR50290 - TYRX R&D-Bleeding Control
                                </option>
                                <option>
                                    CR50834 - Vital LinQ Device Development
                                </option>
                                <option>
                                    CR60837 - Diabetes AIM support
                                </option>
                                <option>CR60838 - Signia</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                <option>--Select Team--</option>
                                <option>
                                    MECC Quality - DR&PT and Analytics
                                </option>
                                <option>
                                    MECC Quality - Quality Engineers
                                </option>
                                <option>
                                    MECC Mfg Ops Engrs - do not use
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                <option>--Select MidOrg--</option>
                                <option>
                                    Design Services
                                </option>
                                <option>
                                    Equipment
                                </option>
                                <option>
                                    Joining
                                </option>
                                <option>
                                    Polymer Dev
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                <option>--Select Required Skill--</option>
                                <option>
                                    Product/Program Mgr
                                </option>
                                <option>
                                    Component Eng
                                </option>
                                <option>
                                    Test Eng
                                </option>
                            </select>
                        </div>
                        <div class="col-md-8 mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Comments">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr class="table-primary">
                                        <th style="width:80px; font-size:12px;">FY21-MAY</th>
                                        <th style="width:80px; font-size:12px;">FY21-JUN</th>
                                        <th style="width:80px; font-size:12px;">FY21-JUL</th>
                                        <th style="width:80px; font-size:12px;">FY21-AUG</th>
                                        <th style="width:80px; font-size:12px;">FY21-SEP</th>
                                        <th style="width:80px; font-size:12px;">FY21-OCT</th>
                                        <th style="width:80px; font-size:12px;">FY21-NOV</th>
                                        <th style="width:80px; font-size:12px;">FY21-DEC</th>
                                        <th style="width:80px; font-size:12px;">FY21-JAN</th>
                                        <th style="width:80px; font-size:12px;">FY21-FEB</th>
                                        <th style="width:80px; font-size:12px;">FY21-MAR</th>
                                        <th style="width:80px; font-size:12px;">FY21-APR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="1.00" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.40" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.60" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.20" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.34" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="1.00" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.55" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.23" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.12" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.20" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.88" placeholder="Enter Comments"></td>
                                        <td style="padding:0px;"><input type="text" class="form-control form-control-sm" value="0.45" placeholder="Enter Comments"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-primary btn-sm">Add</button>
                    </div>
                    <br />

                    <div class="form">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr class="table-primary">
                                        <th style="width: 300px; font-size: 12px;">Project NameY</th>
                                        <th style="width: 400px; font-size: 12px;">Term</th>
                                        <th style="width: 200px; font-size: 12px;">MidOrg</th>
                                        <th style="width: 200px; font-size: 12px;">Required Skills</th>
                                        <th style="width: 200px; font-size: 12px;">Comments</th>
                                        <th style="width: 100px; font-size: 12px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            Process and Component Development - R&D
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            MV Component Engineering
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            MECC Quality - Quality Engineers
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            Research and Technology
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            Process and Component Development - R&D
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            Process and Component Development - R&D
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View Info</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:13px;">
                                            CR04407 - Diabetes NDT Support
                                        </td>
                                        <td style="font-size:13px;">
                                            Process and Component Development - R&D
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            Program Mgt
                                        </td>
                                        <td style="font-size:13px;">
                                            CE - Melissa Valcroft
                                        </td>
                                        <td style="font-size:13px;">
                                            <button type="button" class="btn btn-primary btn-sm">View FTE</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                </div>
                <div id="menu1" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-sm">
                            One of three columns
                        </div>
                        <div class="col-sm">
                            One of three columns
                        </div>
                        <div class="col-sm">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade">
                    <div class="row">
                        <div class="col-sm">
                            One of three columns
                        </div>
                        <div class="col-sm">
                            One of three columns
                        </div>
                        <div class="col-sm">
                            One of three columns
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>