
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/Jexcel/jexcel_44.css?ID=9300" rel="stylesheet" />
<link href="~/assets/Jexcel/jsuites38.css?ID=9300" rel="stylesheet" />
<link href="~/assets/css/delete-confirmation.css?ID=9300" rel="stylesheet" />
<script src="~/assets/Jexcel/jexcelv44.js?ID=9300"></script>
<script src="~/assets/Jexcel/jsuites38.js?ID=9300"></script>
<script src="~/assets/scripts/Assignments.js?ID=9300"></script>

<div ng-controller="AssignmentController" class="container-fluid">

    <div id="alertbox" class="alert_modal fade-up">
        <div class="alert_modal-content alert_container">
            <div class="clearfix">
                <p><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;<span id="alerttext"></span> </p>
            </div>
        </div>
    </div>

    <div id="progressbar" style="z-index:999999" class="confirmation_modal fade-up">
        <div class="confirmation_modal-content confirmation_container">
            <div class="clearfix">
                <p style="font-size: 12px; font-weight: 500;"><span id="progressBarText">Page is loading...</span></p>
            </div>
            <div style="height:10px; border-radius:0rem;" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <div id="masterhandler" style="display: none;" class="confirmation_modal fade-up">
        <div style="padding-right: 20px; width:45%; padding-left: 20px;" class="confirmation_modal-content confirmation_container eventbackground">
            <div class="clearfix">
                <p style="font-size: 12px; font-weight: 500;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;<span id="masterhandlerText">Page is loading...</span></p>
            </div>
            <div class="clearfix">
                <div class="form-row">
                    <div style="width:30%; float: left">
                        <div class="pull-left" id="dropAssignTeams"></div>
                    </div>
                    <div style="width:2%; float: left">
                    </div>
                    <div style="width:26%; float: left">
                        <div class="pull-left" id="dropRequiredSkills"></div>
                    </div>
                    <div style="width:2%; float: left">
                    </div>
                    <div style="width:30%; float: left">
                        <div class="pull-left" id="dropAssignResources"></div>
                    </div>
                    <div style="justify-content:left;width:10%; float: left">
                        <button type="submit" style="border-radius: 0px;" id="removehandler" class="btn btn-danger btn-sm float-right"><i class="fa fa-remove"></i></button>&nbsp;&nbsp;
                        <button type="submit" id="updatemaster" ng-click="updatemasteritem()" style="border-radius: 0px;" class="btn btn-success btn-sm float-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <p id="success" style="font-size: 12px; display:none; font-weight: 500; margin-bottom:0px; margin-top:15px;"><i style="color:#74ff1c" class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;<span style="color:#a9ef7d" id="successtext">new item has been added...</span></p>
                <p id="error" style="font-size: 12px; display:none; font-weight: 500; margin-bottom:0px; margin-top:15px;"><i style="color:#f00" class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;<span style="color:#ef8888" id="errortext">please enter project category!</span></p>
            </div>
        </div>
    </div>

    <div id="mainbody" style="min-height: 690px;" class="card">

        <div class="form-row card-header">
            <div style="padding-top: 4px;" class="col-md-3">
                <i class="fa fa-th" style="color:#043a7c;" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:14px; font-weight:500;">Assign-Live</span>
            </div>
            <div class="col-md-4">
                <div class="pull-left" id="dropTeams"></div>
            </div>
            <div class="col-md-1">
                <div class="pull-left" id="dropfisyear"></div>
            </div>
            <div class="col-md-4">
                <button type="button" id="exporttoexcel" ng-click="exportassigndata();" class="btn btn-success btn-sm exporttoexcel float-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Export To Excel</button>
                <button type="button" id="saveallchanges" style="zoom: 80%; display:none; margin-left: 10px;" ng-click="saveallchanges();" class="btn btn-primary btn-sm float-right"><i class="fa fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;Save All Changes</button> &nbsp;
                <button type="button" id="discardallchanges" style="zoom: 80%; display:none; margin-left: 10px;" ng-click="discardallchanges();" class="btn btn-danger btn-sm float-right"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Discard All Changes</button> &nbsp;
            </div>
        </div>
        <div id="maintableview" class="card-body">
            <div style="display:none;" id="divAssignments">
                <div style="overflow: scroll;">
                    <div style="display:none;" id="divUnAssignment">
                        <table id="tblMainUnAssignments" style="zoom:80%" CELLSPACING=0 width="100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; background: #044182;" colspan="14">
                                        Unassigned Remaining
                                    </th>
                                </tr>
                                <tr>
                                    <th>Resource Name</th>
                                    <th>MAY</th>
                                    <th>JUN</th>
                                    <th>JUL</th>
                                    <th>AUG</th>
                                    <th>SEP</th>
                                    <th>OCT</th>
                                    <th>NOV</th>
                                    <th>DEC</th>
                                    <th>JAN</th>
                                    <th>FEB</th>
                                    <th>MAR</th>
                                    <th>APR</th>
                                    <th>Count of Projects</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="master in UnassignedRemaining">
                                    <td class="unAssignmentstd">{{master.RESOURCENAME}}</td>
                                    <td ng-style="setunassignedcolor(master.MAY)" class="unAssignmentstd">{{master.MAY}}</td>
                                    <td ng-style="setunassignedcolor(master.JUN)" class="unAssignmentstd">{{master.JUN}}</td>
                                    <td ng-style="setunassignedcolor(master.JUL)" class="unAssignmentstd">{{master.JUL}}</td>
                                    <td ng-style="setunassignedcolor(master.AUG)" class="unAssignmentstd">{{master.AUG}}</td>
                                    <td ng-style="setunassignedcolor(master.SEP)" class="unAssignmentstd">{{master.SEP}}</td>
                                    <td ng-style="setunassignedcolor(master.OCT)" class="unAssignmentstd">{{master.OCT}}</td>
                                    <td ng-style="setunassignedcolor(master.NOV)" class="unAssignmentstd">{{master.NOV}}</td>
                                    <td ng-style="setunassignedcolor(master.DEC)" class="unAssignmentstd">{{master.DEC}}</td>
                                    <td ng-style="setunassignedcolor(master.JAN)" class="unAssignmentstd">{{master.JAN}}</td>
                                    <td ng-style="setunassignedcolor(master.FEB)" class="unAssignmentstd">{{master.FEB}}</td>
                                    <td ng-style="setunassignedcolor(master.MAR)" class="unAssignmentstd">{{master.MAR}}</td>
                                    <td ng-style="setunassignedcolor(master.APR)" class="unAssignmentstd">{{master.APR}}</td>
                                    <td style="border-right: 0.5px solid #ccdaea;" class="unAssignmentstd"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table ng-style="{ 'width' : MainAssignmentswidth }" id="tblMainAssignments">
                        <thead>
                            <tr ng-show="totalExpanded">
                                <th style="text-align:right; background: #023c77;">
                                    Total Supply
                                </th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                            </tr>
                            <tr ng-show="totalExpanded">
                                <th style="text-align:right; background: #023c77;">
                                    Total Demand
                                </th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                            </tr>
                            <tr ng-show="totalExpanded">
                                <th style="text-align:right; background: #023c77;">
                                    Total Assigned
                                </th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                                <th style="background: #0155ab;"></th>
                            </tr>
                            <tr ng-show="totalExpanded">
                                <th style="text-align:right; background: #023c77;">
                                    Total Unassigned
                                </th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                                <th style="background: #004a96;"></th>
                            </tr>
                            <tr>
                                <th ng-style="{ 'width' : AssignmentProjectWidth }">
                                    <i style="color: white; padding-top: 3px; padding-left: 5px; font-size: 12px;" title="Expand All" ng-click="expandAll(allExpanded = !allExpanded)" expand ng-class="allExpanded ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square pull-left" aria-hidden="true"><span style="font-family: system-ui; padding-left:5px; cursor:pointer; border-right: 2px solid #406286; padding-right: 8px;">Expand All</span></i> &nbsp;&nbsp;
                                    <i title="Expand Unassigned" ng-click="viewUnAssignment();" style="padding-top: 3px; padding-left: 5px; font-size: 12px;" class="fa fa-window-restore pull-left" aria-hidden="true"><span style="font-family: system-ui; padding-left:5px; cursor:pointer; border-right: 2px solid #406286; padding-right: 8px;">View Unassigned Remaining</span></i> &nbsp;&nbsp;
                                    <i style="color: white; padding-top: 3px; padding-left: 5px; font-size: 12px;" title="Expand All" ng-click="totalExpanded = !totalExpanded" expand ng-class="totalExpanded ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square pull-left" aria-hidden="true"><span style="font-family: system-ui; padding-left:5px; cursor:pointer; border-right: 2px solid #406286; padding-right: 8px;">Expand Total</span></i> Project Name
                                </th>
                                <th width="70px">MAY</th>
                                <th width="70px">JUN</th>
                                <th width="70px">JUL</th>
                                <th width="70px">AUG</th>
                                <th width="70px">SEP</th>
                                <th width="70px">OCT</th>
                                <th width="70px">NOV</th>
                                <th width="70px">DEC</th>
                                <th width="70px">JAN</th>
                                <th width="70px">FEB</th>
                                <th width="70px">MAR</th>
                                <th width="70px">APR</th>
                                <th width="140px" style="text-align:center;">Request Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="master in AssignmentData">
                                <td style="padding: 0px; border: 0px;" colspan="14">
                                    <table ng-style="{ 'width' : MainAssignmentswidth }" id="tbldecheckbooksub">
                                        <tr>
                                            <td class="mintblAssignmentstd" style="text-align:center; width: 30px; background-color: #f3f9ff;">
                                                <i title="Expand" id="assign-{{$index}}" ng-click="expanded = !expanded; expandde();" expand ng-class="expanded ? 'fa fa-minus-square resourcecheckbookfontminus' : 'fa fa-plus-square resourcecheckbookfontplus'" class="fa fa-plus-square" aria-hidden="true"></i>
                                            </td>
                                            <td class="mintblAssignmentstd" ng-style="{ 'width' : AssignmentProjectWidth-30 }">{{master.Project}} - <span style="color:#001684;">{{master.WBSNumber}}</span></td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_7_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.MAY)">{{master.MAY}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_8_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.JUN)">{{master.JUN}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_9_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.JUL)">{{master.JUL}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_10_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.AUG)">{{master.AUG}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_11_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.SEP)">{{master.SEP}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_12_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.OCT)">{{master.OCT}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_13_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.NOV)">{{master.NOV}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_14_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.DEC)">{{master.DEC}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_15_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.JAN)">{{master.JAN}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_16_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.FEB)">{{master.FEB}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_17_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.MAR)">{{master.MAR}}</td>
                                            <td id="{{master.ProjectID}}_{{master.WBSNumber | removeDot}}_18_{{$index}}" class="mintblAssignmentstd" width="70px" ng-style="setcolor(master.APR)">{{master.APR}}</td>
                                            <th class="mintblAssignmentstd" width="140px"></th>
                                        </tr>
                                        <tr ng-show="expanded">
                                            <td style="background-color: #fbfbfb; vertical-align: central; text-align: center;  cursor: pointer;" class="mintblAssignmentstd">
                                            </td>
                                            <td style="padding: 0px; background: #f3f3f3;" colspan="14">
                                                <div id="decb_{{$index}}">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function calculatesum() {
        angular.element(document.getElementById('mainbody')).scope().updatefilters();
    }

    //var handler = document.querySelector('.handler');
    //var wrapper = handler.closest('.wrapper');
    //var boxA = wrapper.querySelector('.box1');
    //var boxB = wrapper.querySelector('.box2');
    //var isHandlerDragging = false;

    //document.addEventListener('mousedown', function (e) {
    //    // If mousedown event is fired from .handler, toggle flag to true
    //    if (e.target === handler) {
    //        isHandlerDragging = true;
    //    }
    //});

    //document.addEventListener('mousemove', function (e) {
    //    // Don't do anything if dragging flag is false
    //    if (!isHandlerDragging) {
    //        return false;
    //    }

    //    e.preventDefault();

    //    // Get offset
    //    var containerOffsetTop = wrapper.offsetTop;
    //    var containerOffsetBottom = wrapper.offsetBottom;


    //    // Get x-coordinate of pointer relative to container
    //    var pointerRelativeXpos = e.clientY - containerOffsetTop;
    //    var pointerRelativeXpos2 = e.clientY - e.offsetTop + e.offsetHeight;


    //    var boxAminWidth = 30;


    //    boxA.style.height = (Math.max(boxAminWidth, pointerRelativeXpos - 2)) + 'px';
    //    boxB.style.height = (Math.max(boxAminWidth, pointerRelativeXpos2 - 8)) + 'px';
    //});
    //document.addEventListener('mouseup', function (e) {
    //    // Turn off dragging flag when user mouse is up
    //    isHandlerDragging = false;
    //});

</script>
