
<link href="~/assets/Jexcel/jexcel_44.css?ID=90000" rel="stylesheet" />
<link href="~/assets/Jexcel/jsuites38.css?ID=90000" rel="stylesheet" />
<link href="~/assets/css/delete-confirmation.css?ID=90000" rel="stylesheet" />
<script src="~/assets/Jexcel/jexcelv44.js?ID=90000"></script>
<script src="~/assets/Jexcel/jsuites38.js?ID=90000"></script>
<script src="~/assets/scripts/RateCard.js?ID=90000"></script>
<script src="~/assets/scripts/exportexcel/alasql.min.js?ID=90000"></script>
<script src="~/assets/scripts/exportexcel/xlsx.core.min.js?ID=90000"></script>

<style type="text/css">

    .jexcel_search:focus {
        background-color: #075cbc !important;
        color: white !important;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 0px;
        outline: none;
    }

    .notification {
        width: 100%;
        border: 1px solid #eee;
        background-color: #f3f3f3;
        font-size: 13px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        color: #037f20;
    }

    .eventbackground {
        width: 415px;
        border: 1px solid #707070;
        background: #654ea3; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #404040, #654ea3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #404040, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .additem {
        z-index: 99999;
        padding-top: 0px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        font-size: 14px;
        zoom: 80%;
    }



    #mainbody {
        animation: fadein 3s;
    }

    @@keyframes fadein {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }
</style>

<div ng-controller="RateCardController" class="container-fluid">

    <div id="helpcenter" style="display:none; z-index: 999;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="helpcenterheader" style="background-color: #28a745; color: white;" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Help Center
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" title="clear notification" style="padding-top: 5px; cursor: pointer;" ng-click="closepopup('helpcenter');" aria-hidden="true"></i>
                </span>
            </div>
            <div style="background-color: #ccffd8;" class="view_popup_body" id="resourcecheckbookpanelheader">
                <h5 class="helptitle"><i class="fa fa-yelp" aria-hidden="true"></i> &nbsp; We're here to help</h5>
                <div>
                    <input type="text" id="capital_description" class="form-control form-control-sm" ng-model="txtSearchProformaLiveHelp" placeholder="Search ProformaLive Help">
                </div>
            </div>
            <div class="view_popup_body" id="resourcecheckbookpanellist">
                <div class="row">
                    <div ng-repeat="item in helplist | filter: txtSearchProformaLiveHelp" class="col-sm-3">
                        <div>
                            <div style="padding: 5px; font-weight: 500; font-size: 12px; padding-left: 20px;" class="card-body">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <a ng-click="shownotification(item.Sysid)" href="#">{{item.Title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notificationpanel" style="display:none; z-index: 9999;" class="viewpopup_modal fade-up">
        <div class="viewpopup-content viewProforma_container">
            <div id="notificationpanelheader" style="background-color: #e88722; color: white;" class="viewpopupclearfix">
                <span class="pull-left">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Notification Panel
                </span>
                <span>
                    <label style="display:none;" id="notificationID"></label>
                    <i class="fa fa-times pull-right" id="closeNotification" title="clear notification" style="padding-top: 5px; cursor: pointer; display:none;" ng-click="closenotification();" aria-hidden="true"></i>
                    <i class="fa fa-times pull-right" id="clearNotification" title="clear notification" style="padding-top: 5px; cursor: pointer; display:none;" ng-click="clearnotificaiton();" aria-hidden="true"></i>
                </span>
            </div>
            <div class="notificationbody" id="notificationBody">
            </div>
        </div>
    </div>

    <div id="progressbar" class="confirmation_modal fade-up">
        <div class="confirmation_modal-content confirmation_container">
            <div class="clearfix">
                <p style="font-size: 12px; font-weight: 500;"><span id="progressBarText">Page is loading...</span></p>
            </div>
            <div style="height:10px; border-radius:0rem;" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <div id="mainbody" style="display:none;" class="card">
        <div style="font-weight: 500; font-size:13px;" class="card-header">
            <button type="button" ng-click="export_ratecarddata();" style="zoom:80%; margin-left:10px;" class="btn btn-success btn-sm float-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Export To Excel</button>
            <i class="fa fa-cubes" style="color:rgb(0, 0, 0);" aria-hidden="true"></i>&nbsp;&nbsp;Rate Card Master
            @*<span style="font-weight:500; font-size:11px; color:#000000" class="float-right"><i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp; For full screen, click on <b>Escape</b> key</span>*@
        </div>
        <div class="card-body">
            <div style="display:none;" id="notification" class="notification">
                <span class="badge badge-light"><i class="fa fa-bell" aria-hidden="true"></i> Found</span>
                <span style="display:none;" id="update_notificationnumber1" class="badge badge-info">0</span>
                <span style="display:none;" id="update_notificationnumber2" class="badge badge-info">update</span>
                <span style="display:none;" id="delete_notificationnumber1" class="badge badge-danger">0</span>
                <span style="display:none;" id="delete_notificationnumber2" class="badge badge-danger">delete</span>
                <span class="badge badge-light">action in the table, please save the changes.</span>
                <span style="cursor: pointer;" ng-click="savechanges()" class="badge badge-success">Save Changes</span>
            </div>
            <div id="spreadsheetRateCard">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function calculatesum() {
        angular.element(document.getElementById('mainbody')).scope().updatefilters();
    }
    function shownotification(value) {
        angular.element(document.getElementById('mainbody')).scope().shownotification(value);
    }
</script>